<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b0ab042d33.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Encriptador de Texto</title>
</head>
<body>
    <main>
        <img src="../assets/img/logo.png" alt="alura-logo" class="logo" id="logo">
        <textarea name="texto-a-encriptar" class="textarea" id="textarea" cols="20" rows="10" placeholder="Ingrese el texto aquí"></textarea>
        <div class="alert">
            <i class="fa-solid fa-circle-exclamation"></i>
            <p class="parr">Solo letras minúsculas y sin acentos</p>
        </div>
        <div class="div_button">
            <button id="encriptar" class="encriptar">Encriptar</button>
            <button id="desencriptar" class="desencriptar">Desencriptar</button>
        </div>
    </main>
    <aside class="aside" id="aside">
        <div class="container_no_found">
            <img src="../assets/img/Muñeco.png" alt="muñeco" class="finder" id="finder">
            <p class="texto_no_encontrado">Ningún mensaje fue encontrado</p>
            <p class="ingresar_texto">Ingresa el texto que desees encriptar o desencriptar.</p>
        </div>
        <textarea name="texto-encriptado" class="textarea-resultado" id="textarea-resultado" cols="30" rows="10" placeholder="Texto encriptado"></textarea>
        <button id="copiar" class="copiar">Copiar</button>
    </aside>
    <footer>
        
    </footer>
    <script src="../js/main.js">
    </script>
</body>
</html>